# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# IDEs and editors
.vscode/
.idea/
*.swp
*~

# Test / cache
.cache/
.pytest_cache/
.mypy_cache/

# Coverage
.coverage
.coverage.*
htmlcov/

# Misc
.Python
Pipfile.lock
Thumbs.db
.DS_Store
