@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";


@theme {
  --font-sans: 'Outfit', system-ui, -apple-system, sans-serif;
  
  --color-kairos-blue: #488dfe;
  --color-kairos-blue-hover: #3d7ee6;
  --color-kairos-navy: #1c2b3e;
  --color-kairos-navy-light: #263953;
  --color-kairos-navy-dark: #121d2c;
}

/* Configuracion base para toda la aplicacion */
html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-sans);
  background-color: var(--color-kairos-navy-dark);
  color: #ffffff;
  overflow-x: hidden;
}

/* Transiciones globales para efectos interactivos */
a,
button,
input,
select {
  transition: all 0.2s ease-in-out;
}

/* Estilos personalizados para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-kairos-navy-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--color-kairos-navy-light);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-kairos-blue);
}

/* Solucion global para corregir el bug de autofill de Chrome/Edge */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #5494ff inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
  border-radius: 10px;
}

